<!--<h1>Hello World</h1>

Specify a selector and use as a custom HTML tag-->
<app-pipes></app-pipes>

<!--<app-component-interaction [parentName]="name" [variableNum]="variable" (childEvent)="message=$event"></app-component-interaction>
{{message}}-->


<!--<app-structural-directive></app-structural-directive>-->
<!--<app-two-way-binding></app-two-way-binding>-->
<!--<app-temp-ref-variables></app-temp-ref-variables>-->
<!--<app-event-binding></app-event-binding>-->
<!--<app-style-binding></app-style-binding>-->
<!--<app-class-binding></app-class-binding>-->
<!--<app-property-binding></app-property-binding>-->
<!--<app-test></app-test>-->
<!--Specify a selector and use as a Class-->
<!--<div class="app-test">

</div>-->
<!--Specify a selector and use as a Attribute-->
<!--<div app-test>

</div>-->
