<!--<h1>Hello World</h1>

Specify a selector and use as a custom HTML tag-->
<h2>Routing ANd Navigation</h2>
<button routerLink="/studentlist">Student List</button>
<button routerLink="/employeelist">Employee List</button>
<!--<app-employee-list></app-employee-list>-->
<router-outlet></router-outlet>
<!--<app-employee-list></app-employee-list>
<app-emplouyee-details></app-emplouyee-details>-->
<!--<app-pipes></app-pipes>-->
<!--<app-component-interaction [parentName]="name" [variableNum]="variable" (childEvent)="message=$event"></app-component-interaction>
{{message}}-->
<!--<app-structural-directive></app-structural-directive>-->
<!--<app-two-way-binding></app-two-way-binding>-->
<!--<app-temp-ref-variables></app-temp-ref-variables>-->
<!--<app-event-binding></app-event-binding>-->
<!--<app-style-binding></app-style-binding>-->
<!--<app-class-binding></app-class-binding>-->
<!--<app-property-binding></app-property-binding>-->
<!--<app-test></app-test>-->
<!--Specify a selector and use as a Class-->
<!--<div class="app-test">

</div>-->
<!--Specify a selector and use as a Attribute-->
<!--<div app-test>

</div>-->
