<div>
  {{name | uppercase}}
</div>
<div>{{name | lowercase}}</div>
<div>{{name | titlecase}}</div>
<div>{{name | slice:3}}</div>
<div>{{name | slice:3:6}}</div>
<div>{{person | json}}</div>

<div>{{546.78 | number: '2.1-3'}}</div>
<!--Here in '2.1-3' -> 2 is decimal number it's mean minimum 2 number is required and 1-3 meaning is minimum 1 and meximum 3 number
are come after point-->
<div>{{date}}</div>
<div>{{date | date:'short'}}</div>
<div>{{date | date:'shortDate'}}</div>
<div>{{date | date:'shortTime'}}</div>

